/*
----------------------------------------
COLORS

Colors in variables.
*/

$color-black: #000;
$color-white: #fff;

// Theme Colors
$color-silver: #bdbdbd;
$color-cape-cod: #4e5150;
$color-concrete: #f2f2f2;
$color-mine-shaft: #333333;
$color-jaffa: #f2994a;
$color-gray: #828282;
$color-eperor: #4f4f4f;
