/*
----------------------------------------
FONTS
*/

$font-base: "Montserrat", sans-serif;
$font-size-base: rem(14);
$line-height-base: rem(17);

// font weights
$font-weight-base: 600;
$font-weight-bold: 700;
